<tr id="<%= dom_id organization %>">
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm font-medium text-gray-900">
      <%= link_to organization.name, admin_organization_path(organization), class: "text-blue-600 hover:text-blue-900" %>
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <%= format_rut(organization.rut) %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <%= organization.org_type.humanize %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full <%=
      case organization.status
      when 'approved'
        'bg-green-100 text-green-800'
      when 'pending'
        'bg-yellow-100 text-yellow-800'
      when 'rejected'
        'bg-red-100 text-red-800'
      else
        'bg-gray-100 text-gray-800'
      end
    %>">
      <%= organization.status.humanize %>
    </span>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <%= organization.owner&.email_address %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
    <%= link_to "View", admin_organization_path(organization), class: "text-blue-600 hover:text-blue-900 mr-4" %>
    <%= link_to "Edit", edit_admin_organization_path(organization), class: "text-indigo-600 hover:text-indigo-900 mr-4" %>
    <%= link_to "Delete", admin_organization_path(organization), method: :delete,
        data: { confirm: "Are you sure?", turbo_method: :delete },
        class: "text-red-600 hover:text-red-900" %>
  </td>
</tr>
